{% extends "base.html" %}
{% load static from staticfiles %}

{% block container %}
<div class="panel panel-body terms-and-conditions-panel col-md-8 col-md-offset-2">
    <h1 class="terms-title">Copyright</h1>

    <p class="terms-text-soft"> -- These conditions have been translated using Google Translator and they can contain mistakes -- </p>
    <p class="terms-text-soft">Kugar (http://lit-castle-5900.herokuapp.com) is a search engine for free information on the Internet based on a custom interface. Kugar (http://lit-castle-5900.herokuapp.com) not responsible for the content of other websites you may find or access when using the products or services Daley. The material available on or through other websites may be protected by intellectual property laws of other countries. The terms of use of such websites govern use of that material.</p>
    <p class="terms-text-soft">Kugar (http://lit-castle-5900.herokuapp.com) doesn’t store any data in our servers (legal or illegal), only provides direct links to sites wich can be found on the internet. The sole purpose of this website is to facilitate and refine Internet searches to users visitors. </p>
    <p class="terms-text-soft">Kugar (http://lit-castle-5900.herokuapp.com) respects the intellectual property of others, and we ask our users to do the same. If you think you are materials that infringe your copyright, you (or your agent) can contact us asking us to remove those sites with results infrijan intellectual property law </p>
    <h3 class="terms-text-soft">Note to Claims Violation of Intellectual Property</h3>
    <p class="terms-text-soft">If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been violated in any way, please send the following information Kugar (http://lit-castle-5900.herokuapp.com). </p>
    <p class="terms-text-soft">1. An electronic or physical signature of the person authorized to act on behalf of the copyright or other intellectual property.  </p>
    <p class="terms-text-soft">2. A job description under the rights of copyright or other intellectual property that you claim has been infringed.  </p>
    <p class="terms-text-soft">3. A description of where is located the material that you claim is infringing on the web Kugar (http://lit-castle-5900.herokuapp.com) in sufficient detail for us to be able to find on our site. </p>
    <p class="terms-text-soft">4. Your address, telephone number, and email address </p>
    <p class="terms-text-soft">5. A statement by you indicating that you have good faith belief that the use is not authorized by the copyright or intellectual property rights, its agent or the law. </p>
    <p class="terms-text-soft">6. A statement by you, made under penalty of perjury, indicating that the information previously provided in your notice is accurate and that you own the copyright or intellectual property or authorized to act on behalf of the copyright or intellectual property.</p>
    <p class="terms-text-soft">The email address assigned to this communication is: </p>
    <p class="terms-text-soft"> notyet@gmail.com </p>

</div>
{% endblock %}